*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color-rgb: 79, 118, 97;
    --secondary-color-rgb: 194, 220, 208;
}

header .row, header .childrow{
    display: flex;
}

header .row{
    justify-content: space-between;
    padding: 11px;
    background-color: rgb(var(--secondary-color-rgb));
}

header .row ul{
    display: flex;
}

header .row ul li a{
    color: rgb(var(--primary-color-rgb));
    font-size: 18px;
}

header .row ul li{
    padding-left: 20px;
}

header .row .childrow ul{
    padding-left: 0;
    list-style: none;
}

header .row .div-2 ul li span, header .row .div-2 ul li i{
    padding-left: 10px;
    color: rgb(var(--primary-color-rgb));
}

header .row .div-2 ul li span{
    font-family: "Public Sans";
    font-weight: 500;
}

header .row .div-2 ul li a{
    text-decoration: none;
}