/* vietnamese */
@font-face {
    font-family: 'Public Sans';
    src: url(../fonts/public-sans.woff) format('woff2');
  }
  /* cyrillic */
  @font-face {
    font-family: 'Tenor Sans';
    src: url(https://fonts.gstatic.com/s/tenorsans/v19/bx6ANxqUneKx06UkIXISn3F4Ck-L2qM2VQ.woff2) format('woff2');
  }