/* vietnamese */
@font-face {
    font-family: 'Public Sans';
    src: url(../fonts/public-sans.woff) format('woff2');
  }
  /* cyrillic */
  @font-face {
    font-family: 'Tenor Sans';
    src: url(../fonts/TenorSans-Regular.ttf) format('ttf');
  }